:host {
  display: block;
  padding: 5rem 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.sub-title {
  color: #FF4000;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

.project-card {
  background-color: #f0f0f0;
  color: #333;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(50px);
  transition: background-color 0.5s, opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.project-card.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.project-card .image-container {
  flex: 0 0 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 16px;
}

.project-card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card i {
  font-size: 40px;
  margin-top: 10px;
  color: #333;
  flex: 0 0 40px;
}

.project-content {
  flex: 1;
}

.project-card h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.project-card p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.project-card .technologies {
  font-size: 13px;
  font-style: italic;
  color: #555;
  margin-bottom: 20px;
}

.project-card .project-links a {
  text-decoration: none;
  color: #FF4000;
  font-size: 16px;
  font-weight: 500;
  margin-right: 15px;
  display: inline-block;
  transition: color 0.3s;
}

.project-card .project-links a:hover {
  color: #e63900;
}

/* Slide-in animations */
.slide-in-left {
  transform: translateX(-100px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.slide-in-right {
  transform: translateX(100px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.slide-in-left.active,
.slide-in-right.active {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .project-card {
    display: block;
  }

  .project-card .image-container {
    flex-basis: auto;
    height: auto;
    margin-bottom: 20px;
  }
}
