<div class="tech-stack-container" [class.visible]="isVisible()">
    <div class="tech-stack-card">
        <h2>{{ techStack.title }}</h2>
        <div class="tech-list">
            @for (tech of techStack.tech; track tech.name) {
                <div class="tech-item">
                    @if (tech.icon !== '') {
                        <img [src]="tech.icon" [alt]="tech.name">
                        <span>{{ tech.name }}</span>
                    } @else {
                        <span class="fallback">{{ tech.name }}</span>
                    }
                </div>
            }
        </div>
    </div>
</div>